.pagePrintV2 > div {

}

@media print {
    @page {
        size: A4 landscape;
        margin: 0;
    }

    .full-page {
        text-align: center;
    }

    .body {
        display: inline-block;
        text-align: left;
        padding: 0 !important;
        margin-top: 10mm !important;
        margin-left: 5mm !important;
        margin-right: 5mm !important;
    }

    /*.body:nth-child(even){*/
    /*margin-right: 13mm;*/
    /*}*/
    /*.body:nth-child(4n+2){*/
    /*margin-top: 10mm !important;*/
    /*}*/
    .position {
        display: none;
    }
}

.body {
    padding-bottom: 3px;
    width: 500px;
    margin: auto;
    font-family: "Times New Roman";
}

table.tbl-title td {
    border-top: 1px solid #000;
    border-left: 1px solid #000;
    border-bottom: 1px solid #000;
}

.tbl-title td:last-child {
    border-right: 1px solid #000;
}

.font-bold {
    font-weight: bold;
}

.size-12 {
    font-size: 12px;
}

.text-center {
    text-align: center;
}

table {
    border-collapse: collapse;
}

.font-15 {
    font-size: 15px;
    padding: 5px;
}

.font-12 {
    font-size: 12px;
    padding: 2px;
}

.font-13 {
    font-size: 13px;
}

.font-italic {
    font-style: italic;
}

.rotate-270 {
    -ms-transform: rotate(270deg); /* IE 9 */
    -webkit-transform: rotate(270deg); /* Chrome, Safari, Opera */
    transform: rotate(270deg);
}

.border {
    border: 1px solid black;
}

.padding-t-10 {
    padding-left: 80px;
}

.table_top {
    padding-top: 5px;
    width: 100%;
}

.td-padding {
    padding: 5px;
}

.position {
    position: fixed;
    right: 20px;
    top: 15%;
    text-align: right;
}

.form2 {
    margin-top: 3px;
    padding: 5px;
    border: 1px solid #000;
}

.form2 .info {
    width: 70%;
    display: inline-block;
    vertical-align: top;
    font-size: 14px;
    padding: 2px;
}

.form2 .signature {
    display: -webkit-flex; /* Safari */
    display: flex;
}

.form2 .signature > div {
    -webkit-flex: 1; /* Safari 6.1+ */
    -ms-flex: 1; /* IE 10 */
    flex: 1;
    height: 100px;
    font-size: 13px;
}

.text-right {
    text-align: right;
}