.handOver-control {
    display: flex;
    flex-direction: row;
    flex: 1;
}

.handOver-control .action {
    width: 70%;
}

.handOver-control .buttonAdd {
    width: 30%;
    text-align: right;
}

.table {
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
}

.pagePrintV2 > div {

}

.search-result {
    margin-top: 0px;
    font-size: 16px;
    /*text-align: right;*/
}

@media print {
    @page {
        margin-top: 2mm;
        margin-left: 2mm;
        margin-right: 0mm;
        margin-bottom: 0mm;
    }

    .body {
        background: initial;
        border: initial;
        border-radius: initial;
        box-shadow: initial;
        min-height: initial;
        page-break-after: always;
        page-break-inside: avoid;
        padding: 3px !important;
    }
}

.body {
    padding: 3px !important;
    height: 66mm;
    width: 400px;
    margin: auto;
}

.font-bold {
    font-weight: bold;
}

.size-12 {
    font-size: 10px;
}

.text-center {
    text-align: center;
}

table {
    border-collapse: collapse;
}

.font-12 {
    font-size: 12px;
}

.font-8 {
    font-size: 8px;
}

.font-10 {
    font-size: 10px;
}

.font-italic {
    font-style: italic;
}

.rotate-270 {
    -ms-transform: rotate(270deg); /* IE 9 */
    -webkit-transform: rotate(270deg); /* Chrome, Safari, Opera */
    transform: rotate(270deg);
}

.border {
    border: 1px solid black;
}

.padding-t-10 {
    padding-left: 80px;
}

.table_top {
    padding-top: 5px;
}

.inline {
    display: inline;
}

.row {
    padding: 10px;
    border-bottom: 1px solid #ddd;
    font-size: 14px;
}

.row i {
    margin-right: 5px;
}

.row h3, .row p {
    display: inline;
}

.row:last-child {
    border-bottom: none;
}

.text-right {

}

.text-top {
    vertical-align: text-top;
}

.title {
    /*float: left;*/
    /*width: 90%;*/
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.detail-order p {
    font-size: 20px;
}

.lineHeight {
    line-height: 30px;
}